@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0);
    }
  }

  .winner-popout {
    animation: slideIn 0.5s ease forwards;
  }
  
  
  .animated-element {
    animation-name: slideIn; /* Name of the keyframes animation */
    animation-duration: 1s; /* Duration of the animation */
    animation-timing-function: ease-out; /* Timing function for the animation */
    animation-delay: 0s; /* Delay before the animation starts */
    animation-iteration-count: 1; /* Number of times the animation should repeat */
    animation-direction: normal; /* Direction of the animation */
    animation-fill-mode: forwards; /* Defines what values are applied before/after the animation */
    animation-play-state: running; /* Specifies whether the animation is running or paused */
  }
  